.image-logo{
  border-radius: 50%;
  width: 70px;
  border: dotted 4px;
}

.image-logo:hover{
  transform:translateY(-2px);
  box-shadow: 0 10px  10px 0  rgba(0, 0, 0, .5);

}

.app-header {
  background-color: #0891b2;
  padding: 20px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  margin: 0;
  font-size: 1.5em;
}

nav {
  display: flex;
  gap: 20px;
}

nav a { /* <Link> se renderiza como una <a>, así que podemos estilizarla */
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s;
}

nav a:hover {
  border-bottom-color: #22d3ee; /* Color turquesa cyan */
}